/*


GENERAL */
index.html,
body {
  margin: 0;
}

.home-body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "title nav"
    "content content";
  /* height: 100vw; */
  display: grid;
  overflow: hidden;
}

@font-face {
  font-family: garamond-narrow;
  src: url(garamond-narrow.otf);
}

.content {
  display: flex;
  height: 100vw;
}

/* 



HEADER */
.header {
  display: flex;
  flex-direction: row;
  height: 15vw;
  /* border: solid 1px red; */
  width: 100vw;
  overflow: hidden;
  position: fixed;
  background-color: white;
}

.header-left {
  grid-area: title;
  padding: 3vw;
  width: 50vw;
  height: 15vw;
}

.website-title {
  width: 55vw;
}

.website-title:hover {
  cursor: pointer;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 3vw;
  max-height: 10vw;
}

.header-right {
  width: 45vw;
  display: flex;
  justify-content: flex-end;
  height: 15vw;
}

/* 


ANIMATION */

.header-animation {
  animation-name: header-animation;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.52, 0.15, 0, 1);
  animation-iteration-count: 1;
}

@keyframes header-animation {
  0% {
    transform: translateY(-12vw);
  }
  100% {
    transform: translateY(0);
  }
}

.slider-animation {
  animation-name: slider-animation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.52, 0.15, 0, 1);
  animation-iteration-count: 1;
}

@keyframes slider-animation {
  0% {
    transform: translateY(30vw);
  }
  100% {
    transform: translateY(0);
  }
}

/* 


MENU */
.menu-item:hover {
  cursor: pointer;
}

.menu-text:hover {
  text-decoration: line-through;
}

.menu-text {
  font-family: "garamond-narrow";
  font-size: 4vw;
  color: black;
  text-decoration: none;
  line-height: 3vw;
  margin-right: 4vw;
}

/* 



SLIDER */

.slider {
  height: 30rem;
  width: 100vw;
  margin: 0;
  margin-top: 8vw;
  margin-bottom: 1rem;
  bottom: 0;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  grid-area: content;
}

.slide-track {
  display: flex;
  width: calc(30rem * 12);
  /* 500px * total number of photos */
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-30rem * 6));
  }
  100% {
    transform: translateX(0);
  }
}

.slide {
  height: 30rem;
  width: 30rem;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

.slide-img {
  width: 100%;
}
/* 



PROJECT-PAGE */

.projects-body {
  display: grid;
  grid-template-rows: 15vw 1fr;
  grid-template-areas:
    "header"
    "projects-content";
  /* overflow: hidden; */
}

.projects-header {
  border-bottom: 1px solid black;
}

.projects-container {
  grid-area: projects-content;
  display: grid;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "yr1 pr1 tp1"
    "yr2 pr2 tp2"
    "yr3 pr3 tp3"
    "yr4 pr4 tp4"
    "yr5 pr5 tp5"
    "yr6 pr6 tp6"
    "yr7 pr7 tp7"
    "yr8 pr8 tp8";
}

.project-text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-variant: bold;
  text-decoration: none;
  color: black;
  margin-right: 3vw;
  text-align: left;
}

.project-btn {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 97vw;
  height: 5rem;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding-left: 3vw;
  align-items: center;
}
.project-1 {
  border-top: none;
  grid-area: yr1 pr1 tp1;
}

.project-2 {
  grid-area: yr2 pr2 tp2;
  margin-top: 5rem;
  border-top: none;
  margin-left: -100vw;
}

.project-3 {
  margin-top: 10rem;
  margin-left: -100vw;
}

.project-4 {
  margin-top: 10rem;
  border-top: none;
}

.project-5 {
  margin-top: 15rem;
  border-top: none;
  margin-left: -100vw;
}

.project-6 {
  margin-top: 20rem;
  border-top: none;
  margin-left: -100vw;
}

.project-7 {
  margin-top: 25rem;
  border-top: none;
  margin-left: -100vw;
}

.project-8 {
  margin-top: 20rem;
  border-top: none;
  margin-left: -100vw;
}

/* 




CONTACT */

.menu-text-contact {
  font-family: "garamond-narrow";
  font-size: 4vw;
  color: rgb(160, 160, 160);
  text-decoration: none;
  line-height: 3vw;
  margin-right: 4vw;
  color: white;
}

.contact-body {
  background-color: black;
}

.contact-header {
  display: flex;
  flex-direction: row;
  height: 15vw;
  /* border: solid 1px red; */
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

.background {
  background-color: black;
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-rows: 15vw 1fr;
  grid-template-areas:
    "header"
    "contact-content";
}

.contact-menu-text:hover {
  /* color: #c1c1c1; */
  text-decoration: line-through;
}

.contact-container {
  grid-area: contact-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 28vw 28vw 28vw;
  grid-template-areas:
    "e-mail"
    "links"
    "clock";
}

.mail-text {
  grid-area: e-mail;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 4vw;
  font-weight: 400;
  font-variant: bold;
  text-decoration: none;
  color: white;
  margin-left: 3vw;
  margin-top: 10vw;
  width: 40vw;
  height: 3vw;
}

.mail-text:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #dc572b;
}

.contact-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-top: -12vw;
  width: 7vw;
}

.contact-link {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 300;
}

.contact-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #dc572b;
}

.spotify-player {
  display: flex;
  grid-area: e-mail;
  margin-right: 3vw;
  margin-top: 10vw;
}

.spotify-player-frame {
  width: 37vw;
  height: 40vw;
  /* box-shadow: 10px 10px 1px 10px grey; */
}

.mail-text-container {
  display: flex;
  justify-content: space-between;
}

/* 



ABOUT */
.about-container {
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 6vw;
  text-align: justify;
  font-weight: 500;
  line-height: 1.2;
}

.about-text {
  margin-top: 30vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

/*




DETAILED PROJECTS PAGE  */

.project-body {
  display: grid;
  grid-template-columns: 33vw 2vw 65vw;
  grid-template-areas: "left . right";
  max-width: 100%;
  overflow-x: hidden;
}

.project-body-right {
  grid-area: right;
  max-width: 100%;
  overflow-x: hidden;
}

.project-body-left {
  grid-area: left;
  z-index: 0;
  position: fixed;
  padding-right: 2vw;
}

.junya-images {
  max-width: 67vw;
  padding-left: 1vw;
}

.project-description {
  max-width: 33vw;
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5vw;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
}

.project-title {
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2.5vw;
  color: black;
  max-width: 33vw;
  padding-left: 1vw;
  margin-bottom: 0;
}

.website-title-project {
  max-width: 32vw;
  padding: 1vw;
}

.menu-bar-project {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.project-menu-text {
  font-size: 2.5vw;
  line-height: 2vw;
  max-width: 7vw;
}

.project-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0vw;
  height: 70vh;
}

.pdf-link {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5vw;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
}

.pdf-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #dc572b;
}

/* 


RESPONSIVENESSS!!!! */

@media screen and (max-width: 700px) {
  /* HOME-PAGE */
  .home-body {
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "title"
      "content";
  }
  .header {
    flex-direction: column;
    height: 35vh;
  }
  .header-left {
    width: 100vw;
    height: 15vw;
  }
  .website-title {
    width: 90vw;
  }
  .header-right {
    grid-area: title;
    justify-content: flex-start;
    width: 100vw;
    height: 15vh;
  }
  .slider {
    margin-top: 25vw;
  }
  .menu-bar {
    max-height: 10vw;
    align-items: flex-start;
    padding-left: 3vw;
    padding-top: 2vw;
  }
  .menu-text {
    font-size: 8vw;
    line-height: 7vw;
  }
  .slide {
    height: 25rem;
    width: 25rem;
  }
  .slider {
    margin-top: 1vw;
  }
  /* 
  
  ABOUT-PAGE */
  .about-text {
    margin-top: 60vw;
    font-size: 8vw;
  }

  .header-about {
    height: 30vh;
  }

  /* 
  
  PROJECT-PAGE */
  .projects-container {
    margin-top: 25vh;
  }

  .project-type {
    display: none;
  }

  .project-text {
    font-size: 6vw;
  }

  /*
  
  CONTACT-PAGE */
  .contact-header {
    flex-direction: column;
    height: 35vh;
  }
  .contact-menu-text {
    font-size: 8vw;
    line-height: 7vw;
  }
  .contact-container {
    margin-top: 25vh;
  }
  .mail-text-container {
    flex-direction: column;
  }
  .contact-body {
    height: 100vh;
  }
  .spotify-player {
    display: none;
  }
  .mail-text {
    font-size: 7vw;
  }
  .contact-link {
    font-size: 5vw;
  }
  .contact-links {
    margin-top: -5vw;
  }

  /* 
  
  DETAILED-PROJECT-PAGE */
  .project-body {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "top bottom";
  }
  .project-body-right {
    grid-area: right;
    max-width: 100%;
    width: 100vw;
    overflow-x: auto;
  }

  .project-body-left {
    grid-area: top;
    padding-right: 2vw;
    width: 100vw;
    overflow: auto;
    z-index: auto;
    position: relative;
  }

  .junya-images {
    width: 98vw;
    padding-left: 1vw;
    max-width: none;
  }

  .website-title-project {
    width: 90vw;
    max-width: none;
  }

  .project-block {
    display: flex;
    justify-content: flex-start;
    height: 45vh;
  }

  .project-title {
    font-size: 7vw;
    max-width: none;
  }
  .project-description {
    font-size: 5vw;
    max-width: none;
  }

  .pdf-link {
    font-size: 5vw;
    max-width: none;
  }
}
