html,
body {
  margin: 0px;
}
/* 
@font-face {
  font-family: "FretQwik";
  font-style: normal;
  src: url(fretqwik.woff) format("woff");
} */

.container {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
}

.header {
  display: flex;
  grid-area: header;
  justify-content: center;
}

.menu-bar {
  display: flex;
  grid-area: header;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16pt;
  font-style: bold;
  font-variant: bold;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
}

.menu-item {
  display: block;
  text-decoration: none;
  float: left;
  padding: 20px 20px;
  color: #c1c1c1;
}

.menu-item:hover {
  color: black;
  cursor: pointer;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.content-home-page {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whitespace {
  height: 100px;
}
.whitespace-home {
  height: 60px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: black;
  padding: 0px 30px;
}

.home-text-headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: black;
  padding: 0px;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.content-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 11pt;
  padding: 30px;
  margin: 0;
  padding-top: 0;
  width: 300px;
}

.home-text {
  padding: 0px 0px 30px 0px;
  width: 432px;
  /* width: 300px; */
}

.image-of-me {
  height: 380px;
}

.footer {
  /* background-color: green; */
  grid-area: footer;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  fill: #c1c1c1;
  padding: 0px 16px;
}

.icon:hover {
  fill: black;
  cursor: pointer;
}

.svg-link {
  text-decoration: none;
}
